@mixin span {
    content: "";
    display: block;
    position: absolute;
    left: 0px;
    height: 2px;
    width: 25px;
    background: var(--green);
    transition: 1s;
  }
  .navbar-navigation{
    position: relative;
    height: 100%;
    width: 80px;
    display: none;
    &__btn{
    position: absolute;
    top: -24px;
    right: 0px;
    background: transparent;
    width: 50px;
    height: 50px;
    cursor: pointer;
    z-index: 100000;
    }
}
.navbar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.navbar-items{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar-item{
    position: relative;
    padding: 10px 15px;
    &::after{
        content: '';
        position: absolute;
        bottom: -10px;
        left: 50%;
        width: 0px;
        height: 0px;
        border-radius: 50%;
        margin-top: 5px;
        transform: translateX(-50%);
        background-color: var(--green);
    }
    &:hover{
        transform: translateY(-50%);
        transition: transform 0.6s;
        &::after{
            content: '';
            width: 6px;
            height: 6px;
            
        }
        .navbar-link{
            color: var(--green);
        }
    }
    &.active{
        .navbar-link{
            color: var(--green);  
        }
    }
}
.navbar-link{
    color: var(--light-strong-gray);
    padding: 10px;
}
.nav-bar-login-block{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    &__mob{
        margin-top: 20px;
    }
}
.button-login{
    padding: 15px 48px;
    color: var(--green);
    margin: 0 4px;
    background-color: transparent;
    &__mob{
        color: #fff;
        background-color: var(--green);
        padding: 10px 15px;
        margin: 0 10px 0 0;
    }
    &:active{
        background-color: var(--green);
        color: #fff;
    }
    &.active{
        background-color: var(--green);
        color: #fff;
    }
}
.navbar-mob{
    width: 80%;
    min-height: 100vh;
    height: 100%;
    background: #fff;
    position: absolute;
    top: 70px;
    left: 0;
    padding: 20px;
    z-index: 10;
    transform: translateX(-100%);
    transition: all 0.5s;
    &.active{
        transform: translateX(0);
        transition: all 0.5s;
    }
}
.navbar-mob-container{
    display: flex;
    flex-direction: column;
}
.navbar-mob-item{
    margin: 10px 0;
    transition: all 0.5s;
   &:hover{
    transform: translateX(20px);
    transition: all 0.5s;
   }
   a{
    padding: 5px 0;
    font-size: 16px;
    font-weight: 400;
    color: var(--light-strong-gray);
   }
}
@media(max-width: 1040px){
    .navbar{
        display: none;
    }
    .navbar-navigation{
        display: block;
        &__btn {
            display: block;
            overflow: hidden;
            z-index: 99;
            margin-right: 10px;
            & span {
              display: block;
              position: absolute;
              top: 23px;
              transform: rotate(180deg);
              height: 2px;
              width: 25px;
              right: 12px;
              background: var(--green);
              transition: all 1s;
              &::before {
                @include span;
                top: 8px;
              }
              &::after {
                @include span;
                bottom: 8px;
              }
            }
            &.active {
              & span {
                transition: all 0s;
                width: 0;
                &::after {
                  bottom: 1px;
                  transform: rotate(45deg);
                  transition: 0.3s;
                }
                &::before {
                  top: 0;
                  transform: rotate(-45deg);
                  transition: 0.3s;
                }
              }
            }
          }
        }
    .navmenu{
            display: none;
        }
    .navbar-mob{
            display: block;
        }
}